img {
  width: 200px;
  object-fit: cover;
}

button {
  font-size: 1.2rem;
}

.contenedortienda {
  display: grid;
  grid-template-columns: 0.8fr 2.5fr 1fr 0.8fr;
  grid-template-rows: 0.2fr 2.3fr 10fr 0.4fr;
  grid-template-areas: "header header header header" ". titulo titulo ." "productos productos carrito carrito" "footer footer footer footer";
}
.contenedortienda .headertienda {
  grid-area: header;
  background-color: rgb(226, 213, 188);
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
}
.contenedortienda .headertienda .d-flex {
  margin-left: 5rem;
  padding: 1rem;
  font-size: 2rem;
}
.contenedortienda .headertienda .d-flex .btn-search {
  width: 8.5rem;
  height: 3rem;
  border-radius: 4px;
  background-color: rgb(122, 119, 114);
  border: rgb(167, 145, 105);
  color: white;
  font-size: 1.5rem;
}
.contenedortienda .headertienda .navbar-brand {
  font-size: 2.5rem;
}
.contenedortienda .headertienda .nav-item {
  font-size: 2rem;
}
.contenedortienda .titulostienda {
  grid-area: titulo;
  border-bottom: solid 0.1rem black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.contenedortienda .titulostienda .titulo {
  font-size: 9rem;
}
.contenedortienda .titulostienda .subtitulo {
  font-size: 5rem;
  font-family: "Noto Serif", serif;
}
.contenedortienda .productostienda {
  grid-area: productos;
  background-color: rgb(226, 213, 188);
  margin: 5rem;
}
.contenedortienda .productostienda .productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contenedortienda .productostienda .productos .card {
  border-radius: 5%;
  margin: 3rem;
  height: auto;
  border: none;
}
.contenedortienda .productostienda .productos .card .imgtienda {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  width: 28rem;
  height: 25rem;
}
.contenedortienda .productostienda .productos .card h2 {
  text-transform: capitalize;
  font-size: 2.2rem;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.contenedortienda .productostienda .productos .card p {
  font-size: 2.2rem;
  font-weight: bold;
  padding-left: 1rem;
}
.contenedortienda .productostienda .productos .card .add-button {
  margin: 0.5rem;
  width: 8rem;
  height: 3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: solid 0.1rem rgb(20, 154, 217);
  background-color: rgb(20, 154, 217);
  color: white;
}
.contenedortienda .carritotienda {
  grid-area: carrito;
  margin: 5rem;
}
.contenedortienda .carritotienda .carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedortienda .carritotienda .carrito .titulocarrito {
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
}
.contenedortienda .carritotienda .carrito .mensaje {
  font-size: 2rem;
}
.contenedortienda .carritotienda .carrito .cart-product {
  font-size: 2rem;
  text-align: center;
  list-style-type: none;
  text-transform: capitalize;
  border: solid 0.1rem black;
  margin: 0.5rem;
  border-radius: 4px;
  width: 40rem;
}
.contenedortienda .carritotienda .carrito .total {
  font-size: 2rem;
  margin: 1rem;
}
.contenedortienda .carritotienda .carrito .btn-comprar {
  margin: 0.6rem;
  width: 8rem;
  height: 3rem;
  border-radius: 4px;
  border: solid 0.1rem rgb(246, 59, 59);
  background-color: rgb(246, 59, 59);
  color: white;
}
.contenedortienda .carritotienda .carrito .btn-remove {
  margin: 0.6rem;
  width: 5rem;
  height: 3rem;
  border-radius: 4px;
  border: solid 0.1rem rgb(246, 59, 59);
  background-color: rgb(246, 59, 59);
  color: white;
}
.contenedortienda .footertienda {
  grid-area: footer;
  background-color: rgb(226, 213, 188);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contenedortienda .footertienda p {
  font-size: 1.5rem;
}

.info {
  color: white;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif", serif;
}

h1 {
  font-family: "DM Serif Display", serif;
}

h2 {
  font-family: "DM Serif Display", serif;
}

.contenedorhome {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 6fr 13fr 10fr 1fr;
  grid-template-areas: "header header header header" ". principal principal ." "foto foto main main" "info info info info" "footer footer footer footer";
}
.contenedorhome .headerhome {
  grid-area: header;
  background-color: rgb(226, 213, 188);
  padding-left: 2rem;
}
.contenedorhome .headerhome .navbar-brand {
  font-size: 2.5rem;
}
.contenedorhome .headerhome .nav-item {
  font-size: 2rem;
}
.contenedorhome .principal {
  grid-area: principal;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-bottom: solid black 0.1rem;
}
.contenedorhome .principal .titulohome {
  font-size: 9rem;
  font-family: "DM Serif Display", serif;
}
.contenedorhome .principal .subtitulohome {
  font-size: 5rem;
  font-family: "Noto Serif", serif;
}
.contenedorhome .mainhome {
  grid-area: main;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.contenedorhome .mainhome .titulohome {
  font-size: 6rem;
  font-family: "DM Serif Display", serif;
}
.contenedorhome .infohome {
  grid-area: info;
  margin: 5rem;
  background-color: rgb(226, 213, 188);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contenedorhome .infohome .cardhome {
  background-color: white;
  border-radius: 5%;
  height: auto;
  margin: 3rem;
}
.contenedorhome .infohome .cardhome .card-text {
  font-family: "Noto Serif", serif;
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
}
.contenedorhome .infohome .cardhome .imghome {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  width: 30rem;
  height: 30rem;
}
.contenedorhome .fotohome {
  grid-area: foto;
  margin: 5rem;
  background-image: url(../imagenes/8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contenedorhome .footerhome {
  grid-area: footer;
  background-color: rgb(226, 213, 188);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contenedorhome .footerhome p {
  font-size: 1.5rem;
}

/*# sourceMappingURL=estilos.css.map */
