

img {
    width: 200px;
    object-fit: cover;
}
button{
    font-size: 1.2rem;
}
.contenedortienda{
    display: grid;
    grid-template-columns: 0.8fr 2.5fr 1fr 0.8fr;
    grid-template-rows: 0.2fr 2.3fr 10fr 0.4fr;
    grid-template-areas:
    "header header header header"
    ". titulo titulo ."
    "productos productos carrito carrito"
    "footer footer footer footer";
    .headertienda{
        grid-area: header;
        background-color: rgb(226, 213, 188);
        display: flex;
        flex-direction: row;
        padding-left: 2rem;
        .d-flex{
            margin-left: 5rem;
            padding: 1rem;
            font-size: 2rem;
            .btn-search{
                width: 8.5rem;
                height: 3rem;
                border-radius: 4px;
                background-color: rgb(122, 119, 114);
                border: rgb(167, 145, 105);;
                color: white;
                font-size: 1.5rem;
            }
        }
        .navbar-brand{
            font-size: 2.5rem;
        }
        .nav-item{
            font-size: 2rem;
        }
    }
    .titulostienda{
        grid-area: titulo;
        border-bottom: solid 0.1rem black;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        .titulo{
            font-size: 9rem;
        }
        .subtitulo{
            font-size: 5rem;
            font-family: 'Noto Serif', serif;
        }
    }
    .productostienda{
        grid-area: productos;
        background-color: rgb(226, 213, 188);
        margin: 5rem;
        .productos{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            .card{
                border-radius: 5%;
                margin: 3rem;
                height: auto;
                border: none;
                .imgtienda{
                    border-top-right-radius: 5%;
                    border-top-left-radius: 5%;
                    width: 28rem;
                    height: 25rem;
                }
                h2{
                    text-transform: capitalize;
                    font-size: 2.2rem;
                    font-family: 'Noto Serif', serif;
                    font-weight: bold;
                    padding-left: 1rem;
                    padding-top: 0.5rem;
                }
                p{
                    font-size: 2.2rem;
                    font-weight: bold;
                    padding-left: 1rem;
                }
                .add-button{
                    margin: 0.5rem;
                    width: 8rem;
                    height: 3rem;
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                    border-radius: 4px;
                    border: solid 0.1rem rgb(20, 154, 217);
                    background-color: rgb(20, 154, 217);
                    color: white;
                }
            }
        }
    }
    .carritotienda{
        grid-area: carrito;
        margin: 5rem;
        .carrito{
            display: flex;
            flex-direction: column;
            align-items: center;
            .titulocarrito{
                margin-bottom: 1.5rem;
                font-size: 3.5rem;
            }
            .mensaje{
                font-size: 2rem;
            }
            .cart-product{
                font-size: 2rem;
                text-align: center;
                list-style-type: none;
                text-transform: capitalize;
                border: solid 0.1rem black;
                margin: 0.5rem;
                border-radius: 4px;
                width: 33rem;
            }
            .total{
                font-size: 2rem;
                margin: 1rem;
            }
            .btn-comprar{
                margin: 0.6rem;
                width: 8rem;
                height: 3rem;
                border-radius: 4px;
                border: solid 0.1rem rgb(246, 59, 59);
                background-color: rgb(246, 59, 59);
                color: white;
            }
            .btn-remove{
                margin: 0.6rem;
                width: 5rem;
                height: 3rem;
                border-radius: 4px;
                border: solid 0.1rem rgb(246, 59, 59);
                background-color: rgb(246, 59, 59);
                color: white;
            }
        }
    }
    .footertienda{
        grid-area: footer;
        background-color: rgb(226, 213, 188);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p{
            font-size: 1.5rem;
        }
    }
}

.info{
    color: white;
    font-size: 1.5rem;
}